.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img{
  height: 250px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

.nav-pills-center {
   text-align: center;
}

.nav-pills-center > li {
    float: none;
    display: inline-block;
}
.edit_user img{
  width: 50%;
  height: 50%;
  margin: 10px;
}
.avatar{
  width: 50%;
  height: 50%;
}
.my-restaurant {
  display: inline-block;
  text-align: center;
  padding: 7px 7px 0 7px;
}
.my-restaurant img{
  max-height: 100%;
  max-width: 150px;
}
.ranking-item{
  margin-bottom: 15px;
}
.ranking-item span{
  font-size: 15px;
}
.user-item{
  margin-bottom: 15px;
}
.user-item img{
  width: 50%;
  height: 50%;
}

.feeds-time{
  font-style: italic;
  float: right;
}
//to make feeds-tim above hr line
hr{
  margin-top: 30px;
}

.friends{
  display: inline-block;
  text-align: center;
  padding: 7px 7px 2px 7px;
}
